<!DOCTYPE html>
<html>
  <head>
    <title>
      {{title}}
    </title>
    <style>
      body { background: #eee; }
      li { list-style: none !important; }
    </style>
  </head>
  <body>
    <div id="main">
      {{{yield}}}
    </div>
  </body>
</html>
